[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Virtual Studio Host Pi
Comment=Virtual Studio Host Pi
Exec=/home/pi/Desktop/C/VSHost.cairo.pi/VSHost
Icon=/home/pi/Desktop/C/VSHost.cairo.pi/images/VSHost.png
Terminal=false
Path=/home/pi/Desktop/C/VSHost.cairo.pi
GenericName=Virtual Studio Host
StartupNotify=false
Name[tr_TR]=Virtual Studio Host Pi
Categories=GNOME;GTK;Audio;Video
